{{#each movies}}
<div class="panel panel-default col-md-4">
	<div class="panel-heading">
	  <p>{{title}} ({{year}})</p>
	</div>
    <img src={{poster}} alt="{{title}}" class="img-responsive center-block">
  	<div class="panel-footer">
        <button class="pull-right addMovieButton" imdbid="{{imdbID}}" id="addMovieButton#{{imdbID}}">Add this movie</button>
	</div>
</div>
{{/each}}