{{#each movies}}
<div class="col-md-3 panelHeight">
  <div class="posterImage">
    <img src={{Poster}} alt="{{Title}} poster" class="img-responsive center-block poster">
    <div class="movieInfo">
        <p class="movieTitle">{{Title}} {{Year}}</p>
        <div class="watchButtons">
          {{#if savedToFirebase}}
            <button class="pull-left addRemoveMovieButton btn btn-danger" imdbid={{imdbID}} savedToFirebase={{savedToFirebase}}>Remove Movie</button>
          {{else}}
            <button class="pull-left addRemoveMovieButton btn btn-default" imdbid={{imdbID}} savedToFirebase={{savedToFirebase}}>Add Movie</button>
          {{/if}}
          {{#if watched}}
            <button class="pull-right watchedButton btn btn-success" id="watchedButton#{{imdbID}}" imdbid={{imdbID}} watched={{watched}}>Watched</button>
          {{else}}
            <button class="pull-right watchedButton btn btn-default" id="watchedButton#{{imdbID}}" imdbid={{imdbID}} watched={{watched}}>Not Watched</button>
          {{/if}}
      </div>
      <div>
        <input id="starInput#{{imdbID}}" imdbid={{imdbID}} type="number" class="starRating" data-stars=5 value={{rating}}>
      </div>
    </div>
  </div>
</div>
{{/each}}