<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Movie History</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" id="searchText" placeholder="Search for your movie title here">
          </div>
          <button type="submit" class="btn btn-default" id="searchOMDbButton">Search OMDb</button>
          <button type="submit" class="btn btn-default" id="searchMyMoviesButton">Search My Movies</button>
        </div>
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</header>
<div class="row">
	<ul class="nav nav-pills col-md-offset-1 col-md-11">
	  <li><a id="filterAll" class="active">All</a></li>
	  <li><a id="filterToWatch" class="active">To Be Watched</a></li>
    <li><a id="filterWatched" class="active">Watched</a></li>
	  <li><a id= "filterRated5" class="active">Star Rating</a></li>
    
    {{!-- SLIDER BAR --}}
    <label for="range">
    <input type="range" name="range" id="range" min="0" max="10" step="1" value="5"/>
    
    {{!-- DISPLAYING VALUE OF SLIDER BENEATH SLIDER --}}</label>
    <output for="range" class="output"></output>
      {{!-- put in a slider bar here for changing the star value, will replace above code  --}}
	</ul>
</div>

{{#each movies}}
<div class="panel panel-default col-md-3">
	<div class="panel-heading">
	  <p>{{Title}} {{Year}}</p>
  </div>
  <div class="posterImage">
    <img src={{Poster}} alt="{{Title}} poster" class="img-responsive center-block">
  </div>
  <div class="panel-footer">
    <input id="starInput#{{imdbID}}" imdbid={{imdbID}} type="number" data-min="0" data-max="10" data-step="1" class="starRating" data-stars=10 value={{rating}}>

    {{#if savedToFirebase}}
      <button class="pull-left addRemoveMovieButton btn btn-danger" imdbid={{imdbID}} savedToFirebase={{savedToFirebase}}>Remove Movie</button>
    {{else}}
      <button class="pull-left addRemoveMovieButton btn btn-default" imdbid={{imdbID}} savedToFirebase={{savedToFirebase}}>Add Movie</button>
    {{/if}}
    {{#if watched}}
      <button class="pull-right watchedButton btn btn-success" id="watchedButton#{{imdbID}}" imdbid={{imdbID}} watched={{watched}}>Watched</button>
    {{else}}
      <button class="pull-right watchedButton btn btn-default" id="watchedButton#{{imdbID}}" imdbid={{imdbID}} watched={{watched}}>Not Watched</button>
    {{/if}}
	</div>
</div>
{{/each}}