{{#each movies}}
<div class="panel panel-default col-md-4">
	<div class="panel-heading">
	  <p>{{title}} {{year}}</p>
	</div>

  <img src={{poster}} alt="{{title}} poster" class="img-responsive center-block">
	<div class="panel-footer">
		<input id="starInput#{{@key}}" imdbid={{@key}} type="number" class="starRating" data-stars=10 value={{rating}}>

	  <button class="pull-right watchedButton btn btn-default" id="watchedButton#{{@key}}" imdbid={{@key}} watched={{watched}}>Not Watched</button>
		{{!-- {{#if_eq watched true}}
			<button class="pull-right watchedButton btn btn-success" id="watchedButton#{{@key}}" imdbid={{@key}} watched={{watched}}>Watched</button>
		{{else}}
	  <button class="pull-right watchedButton btn btn-default" id="watchedButton#{{@key}}" imdbid={{@key}} watched={{watched}}>Not Watched</button>
		{{/if_eq}} --}}

	</div>
</div>
{{/each}}