{{#each movies}}
<div class="panel panel-default col-md-4">
	<div class="panel-heading">
	  <p>{{title}} {{year}}</p>

	</div>

    <img src={{poster}} alt="{{title}} poster" class="img-responsive center-block">
  	<div class="panel-footer">
		  <!-- We'll need to find a way to have the star repeated. Possibly with Handlebars or JS? -->
		  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Crystal_keditbookmarks.png" alt="star rating" class="pull-left">
		  <button class="pull-right">To Be Watched</button>
		  <a href="#" id="delete#{{key}}" class= "pleaseDelete" imdbid="{{@key}}">Delete</a>
		  {{!-- having trouble with the button so am commenting out to try something different --}}
		  {{!-- <button class="pull-right" id="removeButton">Remove Movie</button> --}}

		</div>
</div>


{{/each}}